@model List<GlxyWeb.Models.AlarmModel>
<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    
</head>
<body>
    <div id="loadingIcon" class="text-center" style="display: none;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Alarm Name</th>
                <th>Repeat (UTC)</th>
                <th>Hour (UTC)</th>
                <th>Message</th>
                <th>Status</th>
                <th>Change Status</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alarm in Model)
            {
                <tr>
                    <td>@alarm.Alarm_name</td>
                    <td>@alarm.Repeat</td>
                    <td>@alarm.Hour</td>
                    <td>@alarm.Message</td>
                    <td style="@(alarm.Active == false ? "color: red;" : "color:blue")">@alarm.Active</td>
                    <td>
                        @if (alarm.Active)
                        {
                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="toggleStatus('@alarm.Alarm_name', false)">Disable</button>

                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-success btn-sm" onclick="toggleStatus('@alarm.Alarm_name', true)">Activate</button>
                         
                        }
                    </td>
                    <td>
                        @if (!alarm.Repeat.Equals("Everyday"))
                        {
                            <button type="submit" class="btn btn-primary btn-sm" onclick='window.location.href = "@Url.Action("Edit", "Home", new { alarm_name = alarm.Alarm_name })";'>Edit</button>
                        }
                    </td>

                </tr>
            }
          

        </tbody>
   
    </table>

    @section scripts {
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#example').DataTable({
                    pagingType: 'full_numbers',
                    "ordering": false
                });
            });

            function toggleStatus(alarm_name, status) {
                 document.getElementById('loadingIcon').style.display = 'block';

                fetch('/Home/Update?alarm_name=' + alarm_name + '&status=' + status, { method: 'POST' })
                    .then(response => response.text())
                    .then(data => {
                        if (data === 'Success') {
                            location.reload();
                          
                        } else {
                            alert('Durum güncellenirken bir hata oluştu.');
                        }
                    })
                    .catch(error => {
                        console.error('Bir hata oluştu:', error);
                    })
                    .finally(() => {
                        document.getElementById('loadingIcon').style.display = 'none';
                    });
            }

       
        </script>
    }

</body>
</html>